/*<--------------- geral --------------->*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.bodyr {
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.redesSocias {
  display: flex;
  justify-content:space-around;
  text-align: center;
  padding-left:15px;
  background-color: rgb(0, 0, 0);
}
.redesSocias ul {
  display: flex;
  list-style-type: none;
}

.redesSocias *{
  margin-top: 1px;
  margin-bottom: 1px;
  color: white;
}

.redesSocias li {
  margin-left: 10px;
  margin-right: 10px;
}

.footerr, header a {
  color: white  ;
  text-decoration: none;
}

.menu a:hover {
  color: rgb(246, 128, 5);
}

.domaniPagina {
  font-family: 'Indie Flower', cursive;
}

.nomePagina {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.nomePagina i {
  font-size: 2em;
}

 .footerr {
  height: 20px;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0px 5px 0px 5px;
}


/*<--------- home ----------------->*/

.menu {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}


main i {
  color: rgb(246, 128, 5);
  margin-top: 60px;
}

/*<-------------- Sobre ----------------------->*/

/* .imagens {
  background-color: rgb(0,0,0);
  background-blend-mode: luminosity;
}

.imagens:hover {
  background-blend-mode: normal;
  animation-duration: 2s;
  animation-name: pulse;
} */

/*<-------------- Localização ----------------------->*/
.mainLocalizacao {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  grid-template-areas:    " . nomePagina nomePagina . "
                          " . textoEndereco mapa . ";
  padding-top: 5%;
  padding-bottom: 5%;
  background-color:rgb(252, 252, 252);
}

.textoEndereco {
  grid-area: textoEndereco;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.textoEndereco * {
  margin: 2px;
}

.mapa {
  grid-area: mapa;
}



/*<-------------- Contato ----------------------->*/

.mainContato {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 40%;
  margin-right: 40%;
}

.formulario {
  display: flex;
  flex-direction: column;
}
