/*<--------------- geral --------------->*/
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.bodyr {
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.redesSocias {
  display: flex;
  justify-content:space-around;
  text-align: center;
  padding-left:15px;
  background-color: rgb(0, 0, 0);
}
.redesSocias ul {
  display: flex;
  list-style-type: none;
}

.redesSocias *{
  margin-top: 1px;
  margin-bottom: 1px;
  color: white;
}

.redesSocias li {
  margin-left: 10px;
  margin-right: 10px;
}

.pages,.home,.footerr, header a {
  color: white  ;
  text-decoration: none;
}

.menu a:hover {
  color: rgb(246, 128, 5);
}

.pages {
  background-image: linear-gradient(to bottom, rgb(0, 0,0), rgb(252, 252, 252));
  display: flex;
  flex-direction: column;
  text-align: center;
}

.domaniPagina,.bemVindo h1 {
  font-family: 'Indie Flower', cursive;
}

.nomePagina {
  grid-area: nomePagina;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.nomePagina i {
  font-size: 2em;
}

 .footerr {
  height: 20px;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(0, 0, 0);
  margin: 0px 5px 0px 5px;
}


/*<--------- home ----------------->*/

.home {
  background-image: url(../imagens/salaodomani.JPG);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

.menu {
  display: flex;
  justify-content: space-around;
  justify-content: center;
  font-size: 1.1em;
  background-color: rgba(0, 0, 0, 0.5);
}

/*.menu span{
  background-image: url(../imagens/logo.jpg);
  background-size: center;
  background-position: center;
  width: 200px;
}*/

.menu ul {
  width: 40%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-align: center;
}

.bemVindo {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bemVindo h1 {
    /*font-family: 'Indie Flower', cursive;*/
    font-size: 6em;
    margin: 0;
}

.bemVindo h2 {
    font-size: 3em;
    margin: 0;
}

.bemVindo h3 {
    font-size: 1.5em;
    margin-right: 40%;
    margin-bottom: 0;
}

.sobre {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 35px;
  grid-template-areas:    " . sobreTestimonial imagemTestimonial1 . "
                          " . sobreTestimonial imagemTestimonial2 . ";
  padding-top: 10%;
  padding-bottom: 10%;
  background-color:rgb(252, 252, 252);
}

.sobreTestimonial {
  grid-area: sobreTestimonial;
}

.imagemTestimonial1 {
  grid-area: imagemTestimonial1;
  background-image: url(../imagens/salaosuperior.JPG);
  background-size: cover;
  background-position: center;
}

.imagemTestimonial2 {
  grid-area: imagemTestimonial2;
  background-image: url(../imagens/balcaosalada.JPG);
  background-size: cover;
  background-position: center;
}

.imagensBalcoes {
  display: flex;
}

.imagensBalcoesSalada {
  background-image: url(../imagens/saladas3.JPG);
}

.imagensBalcoesPratosQuentes {
  background-image: url(../imagens/balcaoquente.JPG);
}

.imagensBalcoesChapa {
  background-image: url(../imagens/grelhados1.JPG);
}

.imagensBalcoes div {
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(252, 252, 252);
  font-size: 2em;
}

.imagensBalcoes div:hover {
  animation-duration: 2s;
  animation-name: pulse;
}

main i {
  color: rgb(246, 128, 5);
}

.venhaVisitar {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color:rgb(252, 252, 252);
  height: 450px;
  font-size: 2.5em;
}


/*<-------------- Sobre ----------------------->*/

.mainSobre {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
  grid-template-areas:    ". nomePagina nomePagina ."
                          ". fotoantiga1 parte1sobre ."
                          ". parte2sobre fotoantiga2 ."
                          ". fotoantiga3 parte3sobre .";
  grid-column-gap: 50px;
  grid-row-gap: 35px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.imagensSobre1,.imagensSobre2,.imagensSobre3 {
  background-size: cover;
  background-position: center;
  background-color: rgb(0,0,0);
  background-blend-mode: luminosity;
}

.imagensSobre1:hover,.imagensSobre2:hover,.imagensSobre3:hover {
  background-blend-mode: normal;
  animation-duration: 2s;
  animation-name: pulse;
}

.imagensSobre1 {
  background-image: url(../imagens/fachadaantiga.jpg);
  grid-area: fotoantiga1;
}

.textosSobre1 {
  grid-area: parte1sobre;
}

.textosSobre2 {
  grid-area: parte2sobre;
}

.imagensSobre2 {
  background-image: url(../imagens/salaoantigo.jpg);
  grid-area: fotoantiga2;
}

.textosSobre3 {
  grid-area: parte3sobre;
}

.imagensSobre3 {
  grid-area: fotoantiga3;
  background-image: url(../imagens/salaosuperiornovo.jpg);
}



/*<-------------- Localização ----------------------->*/
.mainLocalizacao {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  grid-template-areas:    " . nomePagina nomePagina . "
                          " . textoEndereco mapa . ";
  padding-top: 5%;
  padding-bottom: 5%;
  background-color:rgb(252, 252, 252);
}

.textoEndereco {
  grid-area: textoEndereco;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.textoEndereco * {
  margin: 2px;
}

.mapa {
  grid-area: mapa;
}



/*<-------------- Contato ----------------------->*/

.mainContato {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-left: 40%;
  margin-right: 40%;
}

.formulario {
  display: flex;
  flex-direction: column;
}
